:root{
    --primary-color:#13C5DD;
    --secondary-color:#1D2A4D;
    --ternary-color:#000000;
    --forth-color:#ffffff;
    --fifth-color:#848E9F;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}   
.top-header{
    width:100%;
    min-height:40px;
    border-bottom: 1px solid var(--fifth-color);
}


.overlay{
    min-height: 40px;
    width:90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.callSection a{
    text-decoration: none;
    color:var(--fifth-color)
}

.callSection a i{
    padding-right: 10px;
}

.socialIcon i{
    color:var(--fifth-color);
    padding:0px 12px;
}

.bottom-header{
    min-height: 80px;
    width:100%;
    box-shadow: 0px 3px 5px var(--fifth-color);
    display: flex;
    align-items: center;
    position: sticky;
    top:0px;
    left:0px;
}

.logo a{
    text-decoration: none;
    font-size: 2.3em;
    text-transform: uppercase;
    color:var(--primary-color);
    font-weight: bold;
}

.navbar nav a{
    text-decoration: none;
    margin: 0px 15px;
    color: var(--secondary-color);
    font-weight: bold;
    position: relative;
}
.navbar nav a:last-child{
    margin: 0px  0px 0px 15px;
}

.navbar nav a:hover{
    color:var(--primary-color);
}
.navbar nav a::after{
    content: "";
    position: absolute;
    bottom: -30px;
    left:0px;
    height: 4px;
    width:0%;
    background: var(--primary-color);
    transition: all ease .5s;
    overflow: hidden;
}

.navbar nav a:hover::after{
    width:100%;
}

.hero{
    height: 500px;
    width:100%;
    background-image: url(../images/hero.jpg);
    background-size:cover;
}
.hero-content{
   height: 500px; 
   display: flex;
   flex-direction: column;
   justify-content: center;

} 

.hero-link a{
    display: inline-block;
    background: red;
    padding: 20px 30px;
}

.package{
    height:600px;
    width:100%;
    padding: 60px 0px;
    margin-bottom: 110px;
}

.package-card{
     height:600px;
     width:100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.package-card .card{
    height:500px;
    width:27%;
    background: #1D2A4D;
}

.package-card .package-inner{
    height:300px;
    width:100%;
    background: var(--primary-color);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    bottom: 0%;
    left:0%;
    z-index: -1;
}

.footer{
    min-height: 400px;
    background-color: var(--secondary-color);
    width:100%;
}
.footer-box{
    height:400px;
    width:23%;
    padding: 60px 0px ;
}
.footer-box h3{
    padding: 20px 0px 10px;
}
.footer-box p{
    padding: 20px 0px;
}
 

.search{
    height:55px;
    width:100%;
     position: relative;
}



.search-input{
     height:55px;
    width:100%;
}  

.search-input input{
     height:55px;
    width:100%;
    border-radius: 40px;
    border: 2px solid var(--forth-color);
    padding: 0px 20px;
}

.search .search-btn {
    height:55px;
    width:120px;
    position: absolute;
    top: 0px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items:center ;

}

.search .search-btn input{
    height: 45px;
    width:100%;
     border-radius: 40px;
    background: var(--secondary-color);
    border: 0px;
}



